################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApiDotNetDemo/.vs/WebApiDotNetDemo
/.vs
/WebApiDotNetDemo/WebApiDotNetDemo/obj/Debug
/WebApiDotNetDemo/WebApiDotNetDemo/bin
/WebApiDotNetDemo/DataAccess/bin/Debug
/WebApiDotNetDemo/DataAccess/obj/Debug
